body {
    font-family: sans;
}

div#header {
    margin: 0%;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

div#header img {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    margin-left: 5%;
}

div#food {
    width: 90%;
    height: 70%;
    margin: 4%;
    overflow: auto;
    font-size: 3.5rem;
}

p.section {
    padding: 4%;
    background-color: #ac2925;
    color: white;
    border-radius: 80px;
}  

ul {
    display: inline;
}

li {
    padding-bottom: 4%;
}

li div {
    float: left;
    width: 85%;
}

li input {
    float: right;
    font-size: xx-large;
}

input[type=number] {
    width: 10%;
    height: 4rem;
    font-size: 3.5rem;
}

input#order {
    width: 30%;
    height: 8%;
    text-align: center;
    margin-left: 35%;
    font-size: xxx-large;
}

input[type=button] {
    border-radius: 14%;
    border-width: 0.5rem;
    border-style: solid;
    background: white;
    border-color: #ac2925;
    color: #ac2925;
}