body {
    background-image: url('../img/bricks.jpg');
    font-family: sans;
}

div#header {
    margin: 6%;
}

div#header img {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
}

div#food {
    width: 90%;
    height: 70%;
    display: block;
    margin: 4%;
    overflow: auto;
    font-size: 3.5rem;
}

p.section {
    padding: 4%;
    background-color: red;
    color: white;
}  

ul {
    list-style-type: none;
}

input[type=number] {
    width: 10%;
    height: 4rem;
    font-size: 3.5rem;
}

input[type=button] {
    width: 30%;
    height: 8%;
    text-align: center;
    margin-left: 35%;
    font-size: xxx-large;
    border-radius: 14%;
    border-width: 0.5rem;
    border-style: solid;
}